dist/
**/*.egg-info/
Tests.ipynb
.directory
docs/_*/
**/results/
**/job*
data/ssm_all*
data/ssm_splitted*
data/data_release*
data/data-release*
**.sqlite
**.ipynb_checkpoints
**/__pycache__
**/.fuse_hidden*

